@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'VEEPS';
    src: url(./Fonts/VEEPS-Display-Regular.otf);
    font-weight: bold;
    font-style: bold;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #131514;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;

}

#check {
    display: none;
}

header {
    display: flex;
    color: white;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;

}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


header ul li {
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}


.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar_menu>li>a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    -webkit-mask-image: linear-gradient(#2a2c2b, transparent);
    mask-image: -webkit-radial-gradient(#2e3130);
    transition: all 0.3s;
}

.navbar_menu>li>a:hover {
    color: #ff0400;

}

.navbar_link {
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar_link:hover {
    color: white;
}

header>nav>ul>li:hover>ul {
    display: block;
}


.navbar_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.navbar_link:hover::after,
.navbar_link:focus::after {
    opacity: 1;
}

.icons {
    position: absolute;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
    right: 5%;
    -webkit-mask-image: linear-gradient(#2a2c2b, transparent);
    mask-image: -webkit-radial-gradient(#2e3130);

}



.icon {
    position: absolute;
    padding: 8px 0;

}

.logo {

    background-size: contain;
    max-width: 600px;
    /* Fixed width as per the design */
    height: 100%;
    /* Full height of the header */
    -webkit-mask-image: linear-gradient(#2a2c2b, transparent);
    mask-image: -webkit-radial-gradient(#2e3130);
}




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/*************CARRITO DE COMPRAS***************/
.icon-cart {
    
    width: 40px; 
}

.icon-cart:hover{
    cursor: pointer;
}


.container-carrito {
    position: relative;
}

.count-product {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: white;

    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}



.container-cart-products {
    position: absolute;
    top: 60px;
    right: 0;
    color: black;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}




.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
font-size: 20px;
}

.precio-producto-carrito {
font-weight: 700;
font-size: 20px ;
margin-left:10px;
}

.cantidad-producto-carrito {
font-weight: 400;
font-size: 20px;
}

.close-icon-cart {
    width: 25px;
    height: 25px;
}

.close-icon-cart:hover {
    color: red;
    cursor: pointer;

}


.cart-total {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}



.hidden-cart {
    display: none;
}







/******************/

.logobanner {
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 30px rgba(228, 3, 3, 0.8));



}


.banner {
    background-image: linear-gradient(50deg, #000000, #00000020), url(./Imagenes/banner.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    -webkit-mask-image: linear-gradient(rgb(0 0 0/ 1),
            rgb(0 0 0/ 0.5) 90%,
            rgb(0 0 0/ 0));
    mask-image: linear-gradient(rgb(0 0 0/ 1),
            rgb(0 0 0/ 0.5)90%,
            rgb(0 0 0/ 0));


}

.slide_one {
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.image-date {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: white;
    text-align: center;
}

.image-date>h3 {
    font-size: 30px;
    font-weight: 700;
}

.image-date>p {
    font-size: 20px;
    font-weight: 200;
}

.button {
    border: none;
    padding: 10px 10px;
    margin-top: 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    background-color: #8a0301;
    ;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    font-size: var(--font-xsmall);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;

}

.button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1);
}


/**********************MERCH**********************/



.merch {
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
    background-image: linear-gradient(rgb(255, 255, 255), #131514);
    background-clip: text;
    color: transparent;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    gap: 40px;
    flex-wrap: wrap;


}

.card {
    position: relative;
    width: 350px;
    height: 450px;
    transition: .5s;
    /*-webkit-mask-image: linear-gradient(
        rgb(0 0 0/ 1),
        rgb(0 0 0/ 0.5) 90%,
        rgb(0 0 0/ 0)
        );
    mask-image: linear-gradient(
        rgb(0 0 0/ 1),
        rgb(0 0 0/ 0.5)90%,
        rgb(0 0 0/ 0)
    
    );
*/
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1);
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    float: left;


}


.card .front>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.abajo {
    opacity: 1;
}

.arriba:hover {
    opacity: 0;
}

.card-content {
    position: absolute;
    background-color: rgb(0 0 0/50%);
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 35%;
    text-align: center;
    overflow: hidden;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card h3 {
    font-family: 'VEEPS';
    font-weight: bold;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    font-size: 60px;
    color: white;
    text-transform: capitalize;
}

.card-content p {
    font-weight: 600;
}


.button-add {
    border: none;
    background: none;
    background-color: #8a0301;
    color: white;
    font-weight: 600;
    padding: 15px 5px;
    transition: 0.3s;
    cursor: pointer;
}

.button-add:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #520301;
    transform: scale(1.1, 1.1);
}

.card-content:hover {
    height: 80%;
    transition: 0.7s;
}


/**********************MUSIC**********************/
.music {
    text-align: center;

}

.text-music {
    padding: 30px 0;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    background-image: linear-gradient(rgb(255, 255, 255), #131514);
    background-clip: text;
    color: transparent;
}

.music iframe {
    padding: 30px 0 30px 0;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact h3 {
    padding: 30px 0;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    background-image: linear-gradient(rgb(255, 255, 255), #131514);
    background-clip: text;
    color: transparent;
}

.contact p {
    padding: 30px 0;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    background-image: linear-gradient(#222222, #520301);
    background-clip: text;
    color: transparent;
}






/**********************FOOTER**********************/

footer {
    -webkit-mask-image: linear-gradient(#2a2c2b, transparent);
    mask-image: -webkit-radial-gradient(#2e3130);
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;

}

.social-icons a {
    background-color: #131514;
    color: transparent;
    padding: 20px;

}

.social-icons a i {
    font-size: 2em;
    color: #8a0301;
    opacity: 0.9;
    transition: 0.5s;
}

.social-icons a:hover {
    background-color: #131514;
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}

.social-icons a:hover i {
    color: #8a0301;
    transition: 0.5s;
    transform: scale(1.1, 1.1);

}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
}

.footerBottom {
    padding: 20px;
    text-align: center;
    color: white;
}

@media (max-width:1200px) {

    .icons {
        display: inline-flex;

    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar_menu {
        position: absolute;
        top: 100%;
        height: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: #141414;
        opacity: 0.9;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
    }

    #check:checked~.navbar_menu {
        height: 350px;
    }

    .icon {
        display: none;
    }


}



@media (max-width:768px) {

    .card-container {
        gap: 40px;
    }


    .logo {
        width: 300px;

    }

    .merch,
    .text-music {
        font-size: 40px;
        padding: 10px 0;
    }

    .banner {
        height: 800px;
    }

}